forb.pdf
forb.aux
forb.bbl
forb.blg
forb.fdb_latexmk
forb.fls
forb.idx
forb.ilg
forb.ind
forb.log
forb.out
forb.synctex.gz
forb.toc
preamble.aux
preamble.fdb_latexmk
preamble.fls
preamble.log
rod.tex
spsml.pdf
